USE [master]
GO
/****** Object:  Database [DemoSample]    Script Date: 20/05/2020 3:29:42 AM ******/
CREATE DATABASE [DemoSample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoSample', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DemoSample.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoSample_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DemoSample_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoSample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoSample]
GO
/****** Object:  Table [dbo].[Employee_Tbl]    Script Date: 20/05/2020 3:29:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Profile] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
 CONSTRAINT [PK_Employee_Tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee_Tbl] ON 

INSERT [dbo].[Employee_Tbl] ([Id], [Name], [Profile], [Address]) VALUES (4, N'Demo', N'Jav', N'XYZ')
INSERT [dbo].[Employee_Tbl] ([Id], [Name], [Profile], [Address]) VALUES (5, N'raj5', N'dotnet', N'noida')
INSERT [dbo].[Employee_Tbl] ([Id], [Name], [Profile], [Address]) VALUES (10, N'rajesh', N'dotnet', N'noida2')
SET IDENTITY_INSERT [dbo].[Employee_Tbl] OFF
USE [master]
GO
